.header {
    width: 100vw;
    height: 90px;
    background-color: rgb(49, 166, 170);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}